$menu-height: 50px;
$content-height: 91vh;
$background-color: #f57f17;
$button-background-color: $background-color;
$item-color: #FAD9B2;
$entry-background-color: #fff9c4;
$entry-hover-background-color: burlywood;
$primary-color: yellow;
$inactive-border-color: lightgrey;
$active-border-color: $background-color;

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input, select, button{
    border: 2px solid $inactive-border-color;
    border-radius: 3px;
}

button{
    cursor: pointer;
    background: $button-background-color;
}

input:hover, input:focus, select:hover, select:focus, button:hover, button:focus{
    border-color: $active-border-color;
}

button:hover, button:focus{
    border-color: brown;
}

#menu{
    display: block;
    width: 100%;
    height: $menu-height;
    background: yellow;

    #logo{
        float: left;
        display: block;
        height: $menu-height;
        img{
            height: 100%;
        }
    }
    .menu-button{
        display: none;
        float: right;
        width: 100px;
        font-size: large;
        margin: auto 0 auto 5px;
        height: $menu-height;
    }
}
#base-wrapper{
    display: flex;
    height: 100vh;
    flex-flow: column;
}

#content-wrapper{
    flex:1;
}

#black-cover{
    position: fixed;
    display: none;
    opacity: 0.7;
    background: black;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#main-menu-list{
    width: 20%;
    min-width: 200px;
    height: 100%;
    overflow-x: auto;
    float: left;
    display: block;
    background: $background-color;
    z-index: 100;

    ul{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    li{
        display: block;
        width: 90%;
        background: $entry-background-color;
        font-weight: bold;
        font-size: x-large;
        list-style: none;
        border-radius: 5px;
        margin: 5px auto;
        text-align: center;
        line-height: 50px;
    }

    li:hover{
        cursor: pointer;
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s; 
        background: $entry-hover-background-color;
    }

}

#main-content{
    background: lightyellow;
    width: 80%;
    height: 100%;
    overflow-x: auto;
    display: flex;
    float: left;

    #controls{
        width: 100%;
        position: relative;
        display: block;
        text-align: center;

        input{
            height: 35px;
            margin: 5px;
            width: 250px;
            font-size: large;
            display: inline-block;
        }

        .controls-buttons{
            position: absolute;
            display: block;
            margin: 5px auto;
            text-align: center;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            
            button{
                width:150px;
                display: inline-block;
                font-size: x-large;
            }
        }

        select{
            display: inline-block;
            height: 35px;
            margin: 5px;
            width: 250px;
            font-size: large;
        }
    }

    #content{
        width: 90%;
        height: 90%;
        display: block;
        margin: auto;
        font-size: large;

        #curve_chart{
            width: 95%;
            height: 500px;
            margin: 0 auto;
            display: block;
            background: white;
        }
    }

    #text-area{
        width: 99%;
        min-height: 300px;
        max-height: 600px;
        margin: 0 auto;
        display: none;
        border: 2px solid $inactive-border-color;
        border-radius: 5px;
        font-size: large;
    }

    #text-area:hover, #text-area:focus{
        border-color: $active-border-color;
    }
}

@media screen and (max-width: 1001px) {
    #main-menu-list{
        width: 50%;
        position: fixed;
        top: $menu-height;
        right: 0;
        display: none;
    }
    #main-content{
        width: 100%;
        height: 100%;
        overflow-x: auto;
        display: flex;
        float: left;
    }

    #menu{
        .menu-button{
            display: block;
        }
    }
}

